* {
  margin: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.app {
  background-color: #efefef;
  min-height: 100vh;
  width: 100%;
}

a,
input,
button {
  outline: none !important;
}

button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* #3390FD insta-blue 
   #BD110B   red-color
*/
