.profile {
  width: 90%;
  margin: 10px auto;
}
.profile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile__avatar {
  width: 200px;
  height: 200px;
}
.profile__info {
  flex: 0.8;
}
.profile__info button {
  background-color: transparent;
  color: lightskyblue;
  padding: 0.4em;
  border: 2px solid lightslategray;
}
.profile__image {
  object-fit: contain;
  width: 100%;
}

.profile__addPost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.editProfile__button {
  background-color: #3390fd !important;
  color: #fff !important;
  border: none !important;
}

.add__button {
  background: transparent;
  border: 2px solid #3390fd !important;
  color: #3390fd !important;
  margin-left: 20px;
  font-size: 0.5em;
  padding: 0.2em;
  border-radius: 50%;
  width: 45px;
}
.profile__buttons {
  display: flex;
}

.profile__imagesContainer {
  margin: 50px auto;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border-bottom: #efefef 20px solid;
}
.profile__imageContainer {
  position: relative;
}
.profile__image:hover {
  /* background-color: #444; */
  opacity: 0.4;
}

.profile__image:hover + .img__icons {
  display: flex;
}
.img__icons {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
label {
  flex: 0.2;
}
input {
  flex: 0.8;
}
